@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Pridi&display=swap");

/* color themes: https://visme.co/blog/website-color-schemes/ */
:root {
  /* test */
  /* --main-bg-color: #35668b; */
  /* --btn-bgcolor: #90ccf4; */
  /* --item-bg-color: #c5a171; */
  --min-width-main: 440px;
  --box-shadow-color: 2px 4px rgba(0, 0, 0, 0.2);

  /* 39. Rich and Colorful */
  /* --body-bg-color: rgb(255, 255, 255);
  --main-bg-color: #5da2d5;
  --btn-font-color: #333;
  --btn-bgcolor: #9dd2f5;
  --btn-hover-color: #f3d250;
  --btn-hover-bg-color: #363636;
  --header-font-color: #ececec;
  --item-font-color: #363636;
  --item-bg-color: #f78888;
  --item-hover-color: #363636;
  --item-hover-bg-color: #f3d250; 
  --footer-color: ghostwhite;
*/

  /* U of Bristol 
  https://www.bristol.ac.uk/people/?search=Faculty+of+Science%2FEarth+Sciences */
  --body-bg-color: #45494d;
  --main-bg-color: ghostwhite;
  --btn-font-color: ghostwhite;
  --btn-bgcolor: #5b5f62;
  --btn-hover-color: ghostwhite;
  --btn-hover-bg-color: rgb(44, 44, 44);
  --header-font-color: #b01c2e;
  --item-font-color: #b01c2e;
  --item-bg-color: #e5e6e5;
  --item-hover-color: #b01c2e;
  --item-hover-bg-color: darkgray;
  --footer-color: snow;

  /* 50. Lively yet Soothing */
  /* --body-bg-color: #fef9c7;
  --main-bg-color: #012124;
  --btn-font-color: #eaede5;
  --btn-bgcolor: #5b5f62;
  --btn-hover-color: #9fedd7;
  --btn-hover-bg-color: rgb(75, 72, 72);
  --header-font-color: #fce181;
  --item-font-color: #fce181;
  --item-bg-color: #026670;
  --item-hover-color: #fce181;
  --item-hover-bg-color: #9fedd7; 
  --footer-color: snow;
*/

  /* 24. Clean and Modern */
  /* --body-bg-color: white;
  --main-bg-color: #2b7a78;
  --btn-font-color: #feffff;
  --btn-bgcolor: #5b5f62;
  --btn-hover-color: #9fedd7;
  --btn-hover-bg-color: #3aafa9;
  --header-font-color: #17252a;
  --item-font-color: #17252a;
  --item-bg-color: #def2f1; 
  --item-hover-color: #17252a;
  --item-hover-bg-color: #9fedd7; 
  --footer-color: snow;
*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[lang="th"] {
  font-family: "Pridi", serif;
}

[lang="en"] {
  font-family: "Merriweather", serif;
}

body {
  /* background: linear-gradient(
    to right top,
    rgba(106, 106, 146, 0.3),
    rgba(150, 150, 255, 0.3)
  ); */
  background: var(--body-bg-color);
  font-family: "Merriweather", serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px pink solid; */
  z-index: 3;
}

header {
  font-size: 1.1em;
  padding: 20px;
  text-align: center;
  color: var(--header-font-color);
}

.finder-parent {
  display: block;
  align-items: center;
  justify-content: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 80vh;
  min-width: var(--min-width-main);
  width: 90%;
  /* background-color: white; */
  /* background: rgb(243, 219, 154); */
  background: var(--main-bg-color);
  box-shadow: var(--box-shadow-color);
  /* background: linear-gradient(
    to right bottom,
    rgba(105, 105, 255, 0.5),
    rgba(155, 155, 255, 0.3)
  );
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2); */
  /* background-image: linear-gradient(120deg, #99a9f1, #a0a09b); */
  font-family: "Merriweather", serif;
  /* padding: 0.5rem; */
  border-radius: 20px;
  backdrop-filter: blur(10px) drop-shadow(4px 4px 10px rgb(101, 101, 212));
  /* display: flex; */
  margin-bottom: 20px;
  z-index: 3;
  /* border: 2px red solid; */
}

.switch-version {
  position: static;
  text-align: right;
  margin: 8px 15px;
  font-family: inherit;
}

.categoryContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 4;
  /* backdrop-filter: blur(50rem); */
  /* font-family: inherit; */
  /* font-family: sans-serif; */
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  text-align: center;
  /* padding: 12px 16px; */
  background: var(--btn-bgcolor);
  color: var(--btn-font-color);
  cursor: pointer;
  padding: 2px;
  margin: 2px;
  line-height: 2;
  font-size: 0.9em;
  border-radius: 15px;
  /* z-index: 4; */
  /* font-family: sans-serif; */
  /* font-family: "Merriweather", serif; */
  width: 45%;
}

.btn.showall {
  width: 90%;
  /* background-color: rgb(245, 243, 120);
  border-color: #333;
  border-style: solid; */
}

/* mouse over button */
.btn:hover {
  background: var(--btn-hover-bg-color);
  color: var(--btn-hover-color);
  /* background-color: rgb(233, 236, 46); */
  /* color: white; */
}
.btn:focus {
  background: var(--btn-hover-bg-color);
  color: var(--btn-hover-color);
}
/* active button */
.btn:active {
  background: var(--btn-hover-bg-color);
  color: var(--btn-font-color);
}

.btn.active {
  background: var(--btn-hover-bg-color);
  color: var(--btn-font-color);
}

/* for phones */
.items-parent {
  margin: auto;
  padding: 10px;
  overflow: hidden;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* display: block; */
  /* display: inline-block; */
  /* display: flex-box; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* justify-content: stretch; */
  /* justify-content: normal; */
  z-index: 4;
  width: 90%;
  /* box-sizing: border-box; */
  /* border-style: dashed; */
  z-index: -1;
  /* border: 2px green dotted; */
}
.item {
  /* background: linear-gradient(
    40deg,
    rgba(17, 28, 73, 0.5),
    rgba(70, 22, 88, 0.75)
  ); */
  background: var(--item-bg-color);
  color: var(--item-font-color);
  box-shadow: var(--box-shadow-color);
  /* color: #ffffff; */
  /* width: 100%; */
  flex: 1;
  display: none;
  /* display: flex; */
  /* flex-direction: row; */
  /* display: grid; */
  justify-content: center;
  align-items: center;
  /* font-size: 1.1em; */
  /* height: 20vmin; */
  /* max-width: 45%; */
  /* line-height: 80px; */
  /* line-height: 3; */
  /* width: 250px; */
  height: 80px;
  /* line-height: 150%; */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* margin: 1px; */
  margin: 5px auto;
  padding: 4px;
  /* display: none; */
  /* border-radius: 15px 25px; */
  border-radius: 15px;
  /* overflow: hidden; */
  /* z-index: 4; */
  font-family: "Pridi", serif;
  font-size: 1.5em;
  /* border-style: solid;
  border-color: pink; */
  /* display: flex;
  flex-direction: row; */
}

.item-txt {
  /* float: left; */
  /* width: 75%; */
  /* float: none; */
  /* overflow: hidden; */
  /* flex-grow: 100; */
  /* margin-right: 80px; */
  display: flex;
  /* width: calc(100% - 80px); */
  align-items: center;
  justify-content: center;
  /* width: 170px; */
  height: 80px;
  /* flex: 1; */
  /* height: 100%; */
  /* text-align: center; */
  padding-left: 10px;
  padding-right: 10px;
  /* border: 1px red dashed; */
}

.item-img {
  width: 76px;
  height: 76px;
  /* height: auto; */
  float: right;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* border-radius: 15px; */
  overflow: hidden;
  padding: 4px;
  margin: 4px;
  /* background-color: green; */
  /* box-shadow: 0 0 6px 6px white inset; */
  /* box-shadow: 0 0 6px 6px var(--item-bg-color) inset; */
  /* z-index: 1; */
  /* border: 1px green solid; */
}

.item-img img {
  /* width: 95% */
  /* width: 72px; */
  /* height: 72px; */
  width: 76px;
  height: 76px;
  /* height: auto; */
  /* border-radius: 50%; */
  object-fit: cover;
  /* object-fit: contain; */
  /* box-shadow: 4px 4px 6px 6px white inset; */
  /* box-shadow: 0 0 6px 6px var(--item-bg-color) inset; */
  /* z-index: 0;
  position: relative; */
}

/* ******************************************** */
/* *** for WIDE SCREEN (desktop, landscape) *** */
/* ******************************************** */

/* for desktop */
@media only screen and (min-width: 800px) {
  .items-parent {
    /* display: flex; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: inherit; */
    justify-content: center;
  }
  .item {
    /* padding: 5px 10px 5px 10px; */
    margin: 5px 10px;
    font-size: 1.1em;
  }
}
/* for phone in landscape mode */
@media only screen and (orientation: landscape) {
  .items-parent {
    /* display: flex; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: inherit; */
    justify-content: center;
  }
  .item {
    /* padding: 5px 10px 5px 10px; */
    margin: 5px 10px;
    font-size: 1.1em;
  }
}

/*
@media screen and (max-width: 600px) {
  .rsrchDiv {
    background: #ccc;
  }
} */

/* for desktop */
/* @media only screen and (min-width: 800px) {
  .item {
    width: 45%;
  }
} */

.item:hover {
  /* font-weight: bold; */
  /* background: var(--btn-hover-color); */
  background: var(--item-hover-bg-color);
  color: var(--item-hover-color);
  /* color: black; */
}

/* .item a:hover {
  font-weight: bold;
} */

.show {
  /* display: block; */
  display: flex;
  flex-direction: row;
}

/* unvisited link */
a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(245, 243, 120);
  /* font-weight: bold; */
  /* background-color: rgb(62, 146, 146); */
}

a:active {
  color: rgb(245, 243, 120);
  /* font-weight: bold;
  background-color: rgb(62, 146, 146); */
}

.divider {
  width: 300px;
  height: 2px;
  background: #666;
  margin: 20px auto;
  display: block;
  text-align: center;
}

.moreinfo {
  margin-top: 10px;
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* font-family: "Merriweather", serif; */
  z-index: 4;
  /* border-style: solid; */
}

.btn_info {
  display: block;
  /* text-align: center; */
  margin: 0 auto;
  border: none;
  outline: none;
  /* padding: 12px 16px; */
  /* background-color: #533636; */
  background: #333;
  color: ghostwhite;
  /* box-shadow: var(--box-shadow-color); */
  cursor: pointer;
  padding: 10px;
  /* margin: 20px 20px 20px 20px; */
  font-size: 0.85em;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  /* font-family: "Merriweather", serif; */
}

.btn_info:hover {
  background: var(--btn-hover-color);
  color: var(--btn-hover-bg-color);
  border: 2px var(--item-hover-color) solid;
}

.cluster_info {
  /* overflow: hidden; */
  width: 80%;
  padding: 20px;
  margin: 5px auto;
  align-items: left;
  /* font-family: inherit; */
  font-family: "Pridi", serif;
  border-style: dashed;
  border-width: thin;
  display: none;
}

.contact {
  margin: 20px auto;
  padding: 10px;
  display: block;
  background: #333;
  color: ghostwhite;
  /* width: 200px; */
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 0.85em;
  /* font-family: "Merriweather", serif; */
  z-index: 4;
  /* border-style: solid; */
}

footer {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-style: italic;
  /* background: inherit; */
  /* color: var(--footer-color); */
  /* color: yellow; */
  /* padding: 10px; */
  min-width: var(--min-width-main);
  width: 90%;
  /* border: 2px white dashed; */
}

#version_info {
  color: var(--footer-color);
  text-align: right;
  /* margin-right: 2rem; */
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(229, 247, 221, 0.8),
    rgba(182, 212, 181, 0.5)
  );
  position: absolute;
  /* position: fixed; */
  border-radius: 50%;
  z-index: 2;
}

.circle1 {
  top: 3%;
  right: 1%;
  height: 8rem;
  width: 8rem;
  /* background: pink; */
}

.circle2 {
  bottom: 2%;
  left: 3%;
  height: 10rem;
  width: 10rem;
}
