@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Pridi&display=swap");

:root {
  --btn-bgcolor: #90ccf4;
  --btn-hover-color: #f3d250;
  --light-font-color: #ececec;
  --dark-font-color: #363636;
  --main-bg-color: #5da2d5;
  --box-shadow-color: 2px 4px rgba(0, 0, 0, 0.2);
  --item-bg-color: #f78888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[lang="th"] {
  font-family: "Pridi", serif;
}

[lang="en"] {
  font-family: "Merriweather", serif;
}

body {
  background: linear-gradient(
    to right top,
    rgba(200, 200, 255, 0.3),
    rgba(150, 150, 255, 0.3)
  );
  font-family: "Merriweather", serif;
}

main {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px pink solid; */
  z-index: 3;
}

header {
  font-size: 1.1em;
  padding: 20px;
  text-align: center;
  color: var(--light-font-color);
}

.finder-parent {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 80vh;
  width: 90%;
  /* background-color: white; */
  /* background: rgb(243, 219, 154); */
  background: var(--main-bg-color);
  box-shadow: var(--box-shadow-color);
  /* background: linear-gradient(
    to right bottom,
    rgba(105, 105, 255, 0.5),
    rgba(155, 155, 255, 0.3)
  );
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2); */
  /* background-image: linear-gradient(120deg, #99a9f1, #a0a09b); */
  font-family: "Merriweather", serif;
  /* padding: 0.5rem; */
  border-radius: 2rem;
  backdrop-filter: blur(10px) drop-shadow(4px 4px 10px rgb(101, 101, 212));
  /* display: flex; */
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: block;
  z-index: 3;
  /* border: 2px red solid; */
}

.switch-version {
  position: static;
  text-align: right;
  margin: 8px 15px;
  font-family: inherit;
}

.categoryContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 4;
  /* backdrop-filter: blur(50rem); */
  /* font-family: inherit; */
  /* font-family: sans-serif; */
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  text-align: center;
  /* padding: 12px 16px; */
  background: var(--btn-bgcolor);
  /* background-color: #e1e1e1; */
  color: #333;
  cursor: pointer;
  padding: 2px;
  margin: 2px;
  line-height: 2;
  font-size: 0.9em;
  border-radius: 10px;
  /* z-index: 4; */
  /* font-family: sans-serif; */
  /* font-family: "Merriweather", serif; */
  width: 45%;
}

.btn.showall {
  width: 90%;
  /* background-color: rgb(245, 243, 120);
  border-color: #333;
  border-style: solid; */
}

/* mouse over button */
.btn:hover {
  background: var(--btn-hover-color);
  /* background-color: rgb(233, 236, 46); */
  /* color: white; */
}
.btn:focus {
  background-color: var(--dark-font-color);
  color: var(--btn-hover-color);
}
/* active button */
.btn:active {
  background-color: var(--dark-font-color);
  color: white;
}

.btn.active {
  background-color: var(--dark-font-color);
  color: white;
}

/* for phones */
.items-parent {
  margin: auto;
  padding: 10px;
  overflow: hidden;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* display: block; */
  /* display: inline-block; */
  /* display: flex-box; */
  text-align: center;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  z-index: 4;
  width: 90%;
  box-sizing: border-box;
  /* border-style: dashed; */
}
.item {
  /* background: linear-gradient(
    40deg,
    rgba(17, 28, 73, 0.5),
    rgba(70, 22, 88, 0.75)
  ); */
  background: var(--item-bg-color);
  color: var(--dark-font-color);
  box-shadow: var(--box-shadow-color);
  /* color: #ffffff; */
  /* width: 100%; */
  flex: 1;
  /* font-size: 1.1em; */
  /* height: 20vmin; */
  /* max-width: 45%; */
  /* line-height: 80px; */
  line-height: 3;
  /* line-height: 150%; */
  text-align: center;
  /* margin: 1px; */
  margin: 5px auto;
  padding: 5px;
  display: none;
  border-radius: 15px 25px;
  /* z-index: 4; */
  font-family: "Pridi", serif;
  /* border-style: solid;
  border-color: pink; */
}

/* for desktop */
@media only screen and (min-width: 800px) {
  .items-parent {
    /* display: flex; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: inherit; */
    justify-content: center;
  }
  .item {
    /* padding: 5px 10px 5px 10px; */
    margin: 5px 10px;
  }
}
/* for phone in landscape mode */
@media only screen and (orientation: landscape) {
  .items-parent {
    /* display: flex; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: inherit; */
    justify-content: center;
  }
  .item {
    /* padding: 5px 10px 5px 10px; */
    margin: 5px 10px;
  }
}

/*
@media screen and (max-width: 600px) {
  .rsrchDiv {
    background: #ccc;
  }
} */

/* for desktop */
/* @media only screen and (min-width: 800px) {
  .item {
    width: 45%;
  }
} */

.item:hover {
  font-weight: bold;
  background: var(--btn-hover-color);
  color: black;
}

/* .item a:hover {
  font-weight: bold;
} */

.show {
  display: block;
}

/* unvisited link */
a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(245, 243, 120);
  /* font-weight: bold; */
  /* background-color: rgb(62, 146, 146); */
}

a:active {
  color: rgb(245, 243, 120);
  /* font-weight: bold;
  background-color: rgb(62, 146, 146); */
}

.divider {
  width: 300px;
  height: 2px;
  background: #666;
  margin: 20px auto;
  display: block;
  text-align: center;
}

.moreinfo {
  margin-top: 10px;
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* font-family: "Merriweather", serif; */
  z-index: 4;
  /* border-style: solid; */
}

.btn_info {
  display: block;
  /* text-align: center; */
  margin: 0 auto;
  border: none;
  outline: none;
  /* padding: 12px 16px; */
  /* background-color: #533636; */
  background: var(--btn-bgcolor);
  box-shadow: var(--box-shadow-color);
  color: var(--dark-font-color);
  cursor: pointer;
  padding: 0.5rem;
  /* margin: 20px 20px 20px 20px; */
  font-size: 0.8em;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  /* font-family: "Merriweather", serif; */
}

.btn_info:hover {
  background-color: var(--btn-hover-color);
  color: var(--dark-font-color);
}

.cluster_info {
  /* overflow: hidden; */
  width: 80%;
  padding: 20px;
  margin: 5px auto;
  align-items: left;
  /* font-family: inherit; */
  font-family: "Pridi", serif;
  border-style: dashed;
  border-width: thin;
  display: none;
}

/* .hidden {
  display: none !important;
} */

/* #cluster_info {
  display: none;
}

#cluster_info:target {
  display: block;
} */

.contact {
  margin: 20px auto;
  display: block;
  background: #333;
  width: 200px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* font-family: "Merriweather", serif; */
  z-index: 4;
  /* border-style: solid; */
}

footer {
  font-size: 0.75em;
  background: inherit;
  padding: 20px;
}

.caption {
  font-size: 0.8rem;
  color: gray;
  text-align: center;
}
#version_info {
  font-size: 0.7rem;
  color: gray;
  text-align: right;
  margin-right: 2rem;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(229, 247, 221, 0.8),
    rgba(182, 212, 181, 0.5)
  );
  position: absolute;
  /* position: fixed; */
  border-radius: 50%;
  z-index: 2;
}

.circle1 {
  top: 3%;
  right: 1%;
  height: 8rem;
  width: 8rem;
  /* background: pink; */
}

.circle2 {
  bottom: 2%;
  left: 3%;
  height: 10rem;
  width: 10rem;
}
