@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Pridi&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  /* background: rgba(255, 255, 255, 0.3); */
  background: linear-gradient(to right top, #a9d1f1, #8ed6f3);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("./images/KittenFluffs4.jpg"); customize */
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: top center;
}
.big-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10vmin; */
  margin: 10px 20vmin 5px 20vmin;
  overflow: hidden;
  transform: skew(5deg);
  /* border-style: solid; */
  font-family: "Pridi", serif;
  /* custom */
  /* position: relative; */
}

.container .card {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 60vmin;
  position: relative;
  /* display: none; */
  margin-right: 1em;
  /* transform: skew(5deg); */
  /* justify-content: center; */
}

.card {
  display: none;
}

.container .card .card__head {
  color: black;
  background: rgba(71, 82, 235, 0.75);
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.2em;
  white-space: nowrap;
  /* custom */
  border-radius: 25px;
  /* justify-content: center; */
}

.container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  /* customize */
  filter: grayscale(80%) blur(2px);
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
  border-radius: 25px;
  opacity: 0.75;
}
/* .container .card:not(:nth-child(5)) {
  margin-right: 1em;
} */

.container .card:hover {
  /* flex-grow: 10; */
  flex-grow: 8;
  /* filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)); */
}
.container .card:hover img {
  /* filter: grayscale(0); */
  filter: grayscale(0);
  opacity: 1;
}
.container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}

.show {
  display: block;
}

.categoryContainer {
  padding: 20px;
  /* border-style: dashed; */
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Pridi", serif;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  /* padding: 12px 16px; */
  background-color: #e1e1e1;
  color: #333333;
  cursor: pointer;
  padding: 2px;
  margin: 2px;
  font-size: 1rem;
  border-radius: 10px;
  font-family: inherit;
  width: 30%;
}

.btn.showall {
  width: 90%;
}

/* mouse over button */
.btn:hover {
  background-color: rgb(251, 255, 0);
  color: rgb(0, 0, 0);
}
.btn:focus {
  background-color: #666;
  color: yellow;
}
/* active button */
.btn:active {
  background-color: #666;
  color: white;
}

header {
  font-size: 1.1rem;
  padding: 20px;
  text-align: center;
}

/* for phones */
@media only screen and (max-width: 720px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* justify-content: space-evenly; */
    transform: skew(0deg);
    /* border-style: dashed;
    border-color: blue; */
  }
  .container .card {
    margin: 10px;
    /* height: 400px;
    width: 400px; */
    /* border-style: solid;
    border-color: red; */
  }

  .container .card img {
    height: 400px;
    width: 400px;
  }

  .container .card .card__head {
    padding: 0;
    font-size: 1em;
    min-width: 90%;
    /* custom */
    border-radius: 25px;
  }
  .container .card:hover .card__head {
    font-size: 1.3em;
  }
}
